<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Colors</key>
	<dict>
		<key>FirstViewController</key>
		<dict>
			<key>BackgroundColorCell</key>
			<string>#a30344</string>
			<key>BackgroundColor</key>
			<string>#004999</string>
			<key>TextColorCell</key>
			<string>#BDBEC1</string>
			<key>TextColor</key>
			<string>#BDBEC1</string>
		</dict>
	</dict>
</dict>
</plist>
